
#imagemFundo {
    width: 50%;
    height: 75%;
    position: absolute;
    left: 25%;
    top: 20%;
}

#TextoPrincipal {
    text-align: center;
    top: 10%;
}

#titulo2 {
    text-align: center;
}
